@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
    background: grey;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-weight: 300;
}